  .leftBar .title,
  .rightBar .title {
      margin-bottom: 10px;
  }

  .OptDetail {
      text-align: left;
      margin-left: 10px;
  }

  .OptDetail li {
      width: 120px;
      margin: 5px 0px 10px 0px;
  }

  .Button input {
      margin: 5px 0px 10px 0px;
  }

  #pwd {
      width: 110px;
  }
  .btn.btn-info, .btn.btn-primary {
    background-color: #1f75cb;
    border-color: #1068bf;
    color: #fff;
}
.clearfix:after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}

.clearfix {
    display: block;
    height: 1%;
    justify-content: space-around;
}
.operateLR{
    width:20vw;
    margin-top: 20vh;
    text-align: center;
}
.leftBar,.rightBar{
    width: 35vw;
}
.leftBar>textarea{
    width: 100%;
    height: 70vh;
}
.rightBar>textarea{
    width: 100%;
    height: 70vh;
}
